
body{
  margin:0;
  padding:0;
  font-size:16px;
  font-family: 'Alata', sans-serif;
  background-color: #ffecdd50;
  overflow-x: hidden;
}

.menu{
  top: 0%;
  width: 100%;
  height:12%;
  background-color: #131313;
  position: absolute;
}


.options{
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  margin-left: 47%;

}

.logo{
  position: absolute;
  color: white;
  margin-left: 3%;
  margin-top: 1.7%;
  font-size: 2.5rem;
}

.item{
  border-bottom-style: none;
}

.item:hover{
  border-bottom-style: solid;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

h2.item{
  font-size: 1.3rem;
}

a.itemLink{
  padding-right: 6%;
  margin-top: 1.9%;
  color: #ffecdd;
  text-decoration: none;
}

.sub{
  position: absolute;
  margin-top: 6.5%;
  margin-left: 4.6%;
  text-align: center;
  z-index: 2;
  background-color: #131313;
  color: #ffecdd;
  padding: 1.5%;
  border-radius: 15px;

}

span{
  color: red;
  font-size: 1.9rem;
}

.mainTitle{
  text-align: center;
  font-size: 4rem;
  margin-top: 12%;
}

.description{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}


.infoPresentation{
  display: flex;
  justify-content: space-between;
  margin-top: 9%;
  background-color: #ffecdd;
  position: relative;
}


p.txtImage{
  margin-top: 10.5%;
  margin-left: 5.8%;
  width: 37%;
  height: 60%;
  vertical-align: middle;
  text-align: center;
}

.firstImage{
  width: 50%;
}

.blackP{
  background-color: #ffecdd;
  color: black;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.links{
  margin-top: 5%;
  padding: 2%;
}

.p2{
  text-align: center;
  margin: 0 auto;
  width: 70%;
  margin-top: 12%;
}

.astucesTitle{
  color: red;
  text-align: center;
  margin-top: 7%;
  font-size: 2rem;
}


.astucesList{
  background-color: #ffecdd;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 5%;
}

.astucesList p{
  margin-bottom: 5%;
}

li{
  font-size: 1.8rem;
}

a{
  color: black;
}

.top_website{
  text-align: center;
}

.links{
    column-count: 2;
}
